a{
  color:blue;
}

nav a{
  margin: 0px 5px;
  text-align: center;
}

nav { 
  text-align: center; 
}

h1 {
  text-align: center;
}
  
body{
  font-family: Ubuntu, serif;
  margin: auto;
  padding: 18px;
  max-width: 800px;
  font-size: 20px;
  text-align: left;
  position: relative;
}

div.board {
  display: flex;
  justify-content: center;
}

div .row {
  display: flex;
  flex: 1;
  justify-content: center;
}

div .box {
  flex: 1;
  text-align: center;
  padding: 5px;
  width: 100px;
  height: 100px;
  border: 1px solid;
  background-color: yellow
}